# Virtualenv
venv

# Build files
*.pyc
vulcanized.html

# Service account
epschedule-*.json
epschedule-v2-*.json
service_account.json
service_account*.json

# NPM/Prettier files
/node_modules

# Misc
.DS_Store
