Flask
requests
google-auth
google-cloud-core==1.7.3
google-cloud-datastore==1.15.5
google-cloud-secret-manager==2.17.0
google-cloud-storage==1.44.0
google-cloud-ndb==1.12.0
Pillow
pytest
pylint
protobuf==3.20.*
isort
black
autoflake
PyGithub
six
