@media (prefers-color-scheme:light){
  :root{
    --background: #efefef;
    --lighter-background: white;
    --text: #1f1f1f;
    --alt-text: #efefef;
  }
}

@media (prefers-color-scheme:dark)
{
  :root{
    --background: #1f1f1f;
    --lighter-background: #292929;
    --text: #efefef;
    --alt-text: #1f1f1f;
  }
}


html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

neon-animated-pages {
  height: 100%;
}

#dialog {
  color: var(--text); 
  background-color: var(--background);
}

#studentname {
  color: #efefef;
}

#drawerheader {
  background: var(--background);
}

#popupContainer {
  background: var(--background);
  color: var(--text);
}

#popupContainerHolder {
  background: var(--background);
}

#lite-sched {
  background: var(--background);
  color: var(--text);
}

#lite-sched-inner {
  background: var(--lighter-background);
  color: var(--text);
}

.side-panel-buttons {
  color: var(--text);
}

#toastButton {
  display: none;
  color: #2196f3;
}

.image-container {
  text-align: center;
}

paper-button {
  width: 100%;
  text-align: left;
  text-transform: none;
  font-size: 14px;
}

.settingsbutton {
  color: white;
  background: #2196f3;
  text-align: center;
  width: 100px;
  float: left;
  margin-top: 32px;
  margin-bottom: 24px;
  margin-left: 0px;
}

.drawer-icon {
  padding-right: 16px;
}

google-map {
  height: 600px;
}

#mainheader {
  height: 100%;
  background: var(--lighter-background);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}


paper-toolbar {
  background: #0d47a1;
  color: white;
}

/* Some wacky CSS to make our calendar icon sit on top of the native picker */
.datepicker-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  box-sizing: border-box;
}

.datepicker-input::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.datepicker-toggle {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.container {
  width: 90%;
  margin: 24px auto;
}

@media (min-width: 720px) {
  .container {
    width: 540px;
  }
}

#popup {
  width: 100%;
  height: 100%;
  background: #efefef;
}

.inlinesettingsswitch {
  width: 100%;
  height: 22px;
}

#popup .header {
  padding: 16px;
  background: white;
  margin-bottom: 16px;
}

#popup a {
  color: gray;
  text-decoration: none;
}

#popup a:hover {
  color: #2196f3;
}

#popup iron-icon {
  padding-right: 16px;
}

.teacher {
  margin: 16px;
}

.teacher div {
  overflow: auto;
}

.teacher p {
  font-size: 0.9em;
}

.teacher img {
  #margin-left: 16px;
}

.leftfloat {
  float: left;
}

.padleft {
  padding-right: 32px;
}

.rightfloat {
  float: right;
}

.halfwidth {
  width: 100%;

  /*Below is a hacky-solution to ensure
  that the x-schedule element doesn't get broken
  up.*/
  -webkit-column-break-inside: avoid;
  /*Chrome*/
  break-inside: avoid-column;
  /*Edge (this is the correct way), but is not widely supported*/
  page-break-inside: avoid;
  /*Firefox*/
  display: table;
  /*Older browsers, and Safari, plus makes it work better on others*/
}

.settingsdividerline {
  padding-left: 32px;
  padding-right: 32px;
  background-color: black;
  height: 1px;
}

.settingstitle {
  margin-bottom: 8px;
}

.privacypaneltitle {
  margin-top: 16px;
}

.underline {
  text-decoration: underline;
  cursor: pointer;
}

.newlinebelow {
  padding-bottom: 8px;
}

.switchspacing {
  height: 32px;
}

.flex {
  display: flex;
}

.toolbarsearchbox {
  align-items: center;
}

.searchbarcollapse {
  align-items: center;
  height: 100%;
  background-color: white;
  padding-left: 8px;
  padding-right: 8px;
}

.popupcontainerholder {
  width: 100%;
}

.rightfloat {
  float: right;
}

.headerbarpage {
  width: 100%;
  display: flex;
  align-items: center;
}

.headerbarpages {
  width: 100%;
}

.headerbar {
  padding: 0px;
}

.searchbackground {
  background-color: white;
}

.grey {
  color: gray;
}

.period {
  padding-top: 24px;
  columns: 2 664px;
  -moz-columns: 2 664px;
  -webkit-columns: 2 664px;
}

.periodsubcontainer {
  max-width: 600px;
  background-color: #FFF;
  margin: 0 auto;
}

.periodbottomspace {
  padding-bottom: 32px;
}

.periodmediumpadding {
  max-width: 568px !important;
  padding: 16px;
}

.periodheading {
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  width: 100%;
  padding: 8px;
}

.freeroomswarning {
  color: grey;
  font-size: 0.9rem;
  font-weight: 300;
  font-style: italic;
  padding-bottom: 12px;
}

paper-typeahead-input {
  display: inline-flex;
  width: calc(100% - 60px);
}

.wide {
  width: 100%;
}

/*CSS below sets the padding our paper-toolbar to 0
so that we don't have to change the element*/
paper-toolbar ::shadow #topBar {
  padding: 0px;
}

/* Same goes for here, but with a typeahead*/
paper-typeahead-input ::shadow div {
  width: 100%;
}

paper-icon-item {
  cursor: pointer;
}

.mainheader {
  padding: 0 16px;
  width: initial;
}

.about-dialog {
  overflow-y: auto;
  background-color: var(--background);
  color: var(--text);
}

#aboutpanel{
  background-color: var(--background);
  color: var(--text);
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  font-size: 10px;
  border-radius: 6px;
  padding: 3px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.github-dialog{
  background-color:var(--background);
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.GithubUpdateBox {
  text-align:center; 
  background-color:var(--background);
}

.GithubInnerP {
  padding:12px; 
  margin-bottom:12px; 
  margin-top:0px; 
  font-size:1.4rem; 
  font-weight:300;
}

.GithubTitleA{
  color:var(--text); 
  text-decoration:none;
}

/* unvisited link */
.GithubLink:link {
  color: var(--text);
  /* take off the underline */
  text-decoration: none;
}

/* visited link */
.GithubLink:visited {
  color: blueviolet;
  /* take off the underline */
  text-decoration: none;
}

/* mouse over link */
.GithubLink:hover {
  color: blue;
  /* take off the underline */
  text-decoration: none;
}