<!doctype html>
<html>
  <head>
    <title>EPSchedule{% if admin %} Admin{% endif %}</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, minimum-scale=1.0, initial-scale=1.0"
    />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/static/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/static/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/static/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/static/favicon/site.webmanifest" />
    <script
      type="module"
      crossorigin
      src="/static/dist/assets/index.js"
    ></script>
    <link
      rel="modulepreload"
      crossorigin
      href="/static/dist/assets/client-chunk.js"
    />
    <link rel="stylesheet" crossorigin href="/static/dist/assets/index.css" />
    <script>
      window.APP_DATA = {
        userSchedule: {{ schedule | safe }},
        days: {{ days | safe }},
        lunches: {{ lunches | tojson }},
        termStarts: {{ term_starts | safe }},
        latestCommits: {{ latest_commits | safe }},
        username: {{ username | tojson }},
        version: {{ version | tojson }},
        sharePhoto: {{ share_photo }},
        isAdmin: {{ admin | tojson }},
      };
    </script>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
