<!doctype html>
<html>
  <head>
    <title>Sign in to EPSchedule</title>
    <meta
      name="viewport"
      content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=no"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/static/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/static/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/static/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/static/favicon/site.webmanifest" />
    <script
      type="module"
      crossorigin
      src="/static/dist/assets/login.js"
    ></script>
    <link
      rel="modulepreload"
      crossorigin
      href="/static/dist/assets/client-chunk.js"
    />
    <link rel="stylesheet" crossorigin href="/static/dist/assets/login.css" />
  </head>
  <body>
    <div id="login-app"></div>
  </body>
</html>
