name: deploy
on:
  push:
    branches:
      - master

jobs:
  setup-build-deploy:
    name: Deploy
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: 3.8
     
      - uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: ${{secrets.GCP_SERVICE_ACCOUNT}}

      - name: Set up dependencies
        env:
          SERVICE_ACCOUNT: ${{secrets.GCP_SERVICE_ACCOUNT}}
        run: |
          echo '${{secrets.GCP_SERVICE_ACCOUNT}}' > service_account.json
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      
      - name: Verify tests pass
        run: python main_test.py

      - name: Upload master_schedule.json
        run: python scripts/upload_master_schedule.py

      - name: Deploy to App Engine
        uses: google-github-actions/deploy-appengine@v2
        with:
          deliverables: app.yaml
          project_id: ${{ secrets.GCP_PROJECT }}
