name: deploy
on:
  push:
    branches:
      - master

jobs:
  setup-build-deploy:
    name: Deploy
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      # Setup and configure gcloud CLI
      - uses: GoogleCloudPlatform/github-actions/setup-gcloud@master
        with:
          version: '290.0.1'
          project_id: epschedule-v2
          service_account_key: ${{ secrets.GCP_SERVICE_ACCOUNT}}

      # Deploy App to App Engine
      - name: Deploy
        run: |
          gcloud app deploy --quiet
