name: deploy
on:
  push:
    branches:
      - master

jobs:
  setup-build-deploy:
    name: Deploy
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.11
        uses: actions/setup-python@v2
        with:
          python-version: 3.11

      # Setup and configure gcloud CLI
      - uses: google-github-actions/setup-gcloud@v2
        with:
          version: '290.0.1'
          project_id: epschedule-v2
          service_account_key: ${{ secrets.GCP_SA_KEY}}
          export_default_credentials: true 

      - name: Set up dependencies
        env:
          SERVICE_ACCOUNT: ${{secrets.GCP_SERVICE_ACCOUNT}}
        run: |
          echo '${{secrets.GCP_SERVICE_ACCOUNT}}' > service_account.json
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Verify tests pass
        run: python main_test.py

      - name: Upload master_schedule.json
        run: python scripts/upload_master_schedule.py

      - name: Deploy to App Engine
        uses: google-github-actions/deploy-appengine@v0.4.0
        with:
          deliverables: app.yaml
          project_id: ${{ secrets.GCP_PROJECT }}
