name: tests
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - uses: "google-github-actions/auth@v2"
        with:
          credentials_json: ${{secrets.GCP_SERVICE_ACCOUNT}}

      - name: Check style
        run: |
          autoflake . --remove-all-unused-imports --quiet --in-place -r --exclude venv --check
          black . --check
          isort . --check --profile black
          ./node_modules/.bin/prettier --check "**/*.{js,jsx,ts,tsx,json,css,scss,less,md,html,yml,yaml,graphql}"

      - name: Test main
        run: python main_test.py
